.homeScreen {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
}

.topSection {
  flex: 0.3; /* Occupies 30% of the screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo-image-home img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.h {
  font-size: 2.5rem;
  font-family: 'Arbutus Slab', serif;
  color: #333;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'Arbutus Slab', serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #555;
}

.consult-btn {
  background-color: #8F9F6D;
  color: #fff;
  border: none;
  padding: 8px 16px; /* Reduced padding */
  font-size: 0.9rem; /* Smaller font size */
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto; /* Adjusts to content width */
  max-width: 300px; /* Optional: Limit the button width */
  text-align: center;
  height:10vh;
}

.consult-btn:hover {
  background-color: #8a9d66;
}

.bottomSection {
  flex: 0.7; /* Occupies 70% of the screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5); /* Slightly translucent background */
  box-sizing: border-box;
  overflow-y: auto; /* Enables scrolling if content overflows */
}

@media (max-width: 768px) {
  .h {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .consult-btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .logo-image-home img {
    width: 120px;
  }
}
