.requests-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 150px;
}

.request-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.request-card p {
  margin: 5px 0;
  color: #333;
}

.line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 8px;
}

.line p {
  margin: 0;
}

.centered {
  justify-self: start;
  margin-left: 50%; /* Start from center of the screen */
}

.action-buttons {
  display: flex; /* Ensure buttons are on the same line */
  align-items: center; /* Align items in the center */
  margin-top: 10px;
}

.action-buttons button {
  margin-right: 10px; /* Space between the accept and deny buttons */
}

button {
  padding: 10px 20px;
  background-color: #8F9F6D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #748556;
}

/* Deny button specific styling */
.deny-button {
  background-color: #fa5454; /* Red background for deny button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.deny-button:hover {
  background-color: #da2323; /* Darker red on hover */
}

/* Styling for the denial input and submit button */
.denial-reason {
  margin-top: 10px; /* Space above the input box */
  display: flex;
  flex-direction: row; /* Keep input and button on the same line */
  align-items: center; /* Vertically align input and button */
}

.denial-reason input {
  margin-right: 10px; /* Space between input and button */
  padding: 8px 12px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

.denial-reason button {
  background-color: #d9534f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.denial-reason button:hover {
  background-color: #c9302c;
}
